/* Proprietà applicate a tutto il documento */
*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button{
    color: white;
    background-color: #0061ff;
    padding: 5px 10px;
    border-style: none;
}
/* Proprietà header */
.box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    background-color: white;
}
.box > div{
    display: flex;
    align-items: center;
    font-size: clamp(0.0625rem, -0.5709rem + 2.5338vw, 1rem);
}
.leftItems > div{
    padding: 1em;
}
.rightItems > div{
    padding: 1em;
}
.blackText{
    text-decoration: none;
    color: #000000;
}
/* Proprietà main */
main {
    padding-top: 50px;
}
/* Sezione 1 */
.section1{
    width: 100%;
    background-color: #b4d0e7;
}
.bo2{
    width: 64%;
    margin: 0 auto;
}
.bodySection1{
    display: flex;
    justify-content: center;
}
.bS1{
    width: calc(100% / 3);
    font-size: clamp(0.0625rem, -0.5709rem + 2.5338vw, 1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}
.bS2{
    width: calc(100% / 3 * 2);
    margin-bottom: -5%;
}
img{
    width: 100%;
}
.titleSection1{
    font-size: clamp(0.0625rem, -2.2179rem + 9.1216vw, 3.4375rem);
    padding: 20px 0 20px 0;
}
.freccia{
    font-size: clamp(0.0625rem, -1.5845rem + 6.5878vw, 2.5rem);
    color: #000000;
}
/* Sezione 2 */
.section2{
    width: 50%;
    margin: 50px auto;
    padding-top: 50px;
}
h2{
    font-size: clamp(0.0625rem, -1.5845rem + 6.5878vw, 2.5rem);
}
.fatt{
    display: flex;
}
.spaceR{
    margin-left: 30px;
}
.section2 > div {
    margin-top: 30px;
}
.offer1{
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 20px);
    border: 1px solid gray;
}
.font13{
    font-size: clamp(0.0625rem, -0.4443rem + 2.027vw, 0.8125rem);
}
.offerHr{
    margin-right: 70%;
    margin-left: 10%;
}
.offers{
    display: flex;
    justify-content: space-between;
}
.offer2{
    border: 1px solid grey;
}
.bord{
    border-bottom: 1px solid grey;
}
.space{
    margin: 20px;
}
.space6{
    margin-bottom: 6px;
}
.centerText{
    text-align: center;
}
.ent{
    display: flex;
    justify-content: space-between;
}
.ul {
    list-style-position: outside;
    list-style-image: url(../img/check-solid.svg);
    padding-left: 10px;
}
.mLeft{
    margin-left: -15px;
}
.padding6{
    padding: 6px;
}
.flexTab{
    display: flex;
    align-items: first baseline;
}
/* Sezione 3 */
.section3{
    width: 50%;
    display: flex;
    margin: 30px auto;
}
.section3_1{
    width: 60%;
}
.section3_2{
    width: 40%;
    margin-left: 30px;
    margin-top: 30px;
}
.btn2{
    background-color: white;
    color: grey;
    border: 1px solid gray;
}
.upDownSpace{
    margin: 30px 0;
}
/* Sezione 4 */
.section4{
    width: 50%;
    margin: 100px auto;
}
.profili{
    display: flex;
    flex-wrap: wrap;
}
.options{
    width: calc(100% / 3 - 20px);
    margin: 10px 10px;
}
.space20{
   margin: 20px 0; 
}
/* Section 5 */
.section5{
    width: 50%;
    margin: 100px auto;
    padding-right: 10%;
}
#link5{
    margin-top: 40px;
}
#link5 > a {
    text-decoration: underline;
    color: #0061ff;
}
/* Section 6 */
.section6{
    width: 100%;
    display: flex;
}
/* Loghi sponsor a sinistra */
.leftPartners{
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
}
.partenersL{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.logos{
    width: calc(100% / 2);
    height: calc(100% / 2);
    padding: 15%;
    display: flex;
    align-items: center;
}
.reverse{
    filter: contrast(0) brightness(100);
}
#designit{
    background-color: #a2d39b;
    color: white;
    box-shadow: inset 0 0 0 15px #d1e9cd;
}
#asu{
    background-color: #61082b;
    color: white;
}
#uf{
    background-color: #0093ce;
    color: white;
}
#topps{
    background-color: #ff1c1c;
    color: white;
}
/* Pubblicità centrale */
.ads{
    width: calc(100% / 3);
    max-height: calc(100vw / 3);
    padding: 3%;
}
.scroll{
    overflow-y: scroll;
    max-height: calc(100vw / 6);
}
/* Partners a destra */
.rightPartners{
    width: calc(100% / 3);
    aspect-ratio: 1 / 1;
}
.partenersR{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
#wbr{
    background-color: #d5001f;
    color: white;
}
#hearst{
    background-color: #b4d0e7;
    color: white;
}
#lonely{
    background-color: #0d2481;
    color: white;
}
#clear{
    background-color: #ffd830;
    color: white;
}
/* Sezione 7 */
.section7{
    width: 100%;
    background-color: #b4d0e7;
    min-height: 300px;
    display: flex;
    align-items: center;
}
.s7{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.flex {
    display: flex;
    justify-content: space-between;
}
#btn3{
    background-color: white;
    color: black;
}
/* Sezione 8 */
.section8{
    width: 50%;
    margin: 30px auto;
}
.font25{
    font-size: clamp(0.0625rem, -0.951rem + 4.0541vw, 1.5625rem);
}
.hidden {
    display: none;
}
.flex:hover + .hidden {
    display: block;
}
.flex:hover .rotate {
    transform: scaleY(-1);
}
/* Proprietà footer */
.footer{
    background-color: #000000;
    color: white;
    width: 100%;
}
.linkutili{
    display: flex;
    justify-content: space-between;
    width: 64%;
    margin: 0 auto;
}
.links{
    display: flex;
    flex-direction: column;
    margin: 80px 0;
}
.links > a {
    margin-top: 10px;
    font-size: clamp(0.0625rem, -0.4443rem + 2.027vw, 0.8125rem);
    text-decoration: none;
    color: white;
}
.links > h3{
    margin:10px 0 ;
}
.lingua{
    width: 64%;
    margin: 0 auto;
    align-content: center;
}
.footHr{
    margin: 20px 80% 20px 0%;
}
.fondo{
    padding-bottom: 20px;
}